Create a Series and DataFrame:
 • Create a Pandas Series from a list of your favorite movies.
 • Extend this Series into a DataFrame with additional columns for 'Year Released' and 
'Genre’

In [1]:
import pandas as pd


favorite_movies = ['Iron Man', 'The Incredible Hulk', 'Thor', 'Captian America', 'Spiderman']


movie_series = pd.Series(favorite_movies)

print(movie_series)

0               Iron Man
1    The Incredible Hulk
2                   Thor
3        Captian America
4              Spiderman
dtype: object

In [2]:

movie_info = {
    'Title': favorite_movies,
    'Year Released': [2008, 2008, 2010, 2011, 2017],
    'Genre': ['Superhero Fiction', 'Superhero Fiction', 'Superhero Fiction', 'Superhero Fiction', 'Superhero Fiction']
}

# Create a Pandas DataFrame from the dictionary
movie_df = pd.DataFrame(movie_info)

print(movie_df)

                 Title  Year Released              Genre
0             Iron Man           2008  Superhero Fiction
1  The Incredible Hulk           2008  Superhero Fiction
2                 Thor           2010  Superhero Fiction
3      Captian America           2011  Superhero Fiction
4            Spiderman           2017  Superhero Fiction

Basic DataFrame Operations:
 • Using the DataFrame created above, add a new column to indicate if the movie is 
'Classic' (a movie older than 25 years).
 • Sort the DataFrame by the year released in descending order.

In [3]:
movie_df = pd.DataFrame(movie_info)

# Add a new column to indicate if the movie is a 'Classic'
current_year = 2024
movie_df['Is Classic'] = movie_df['Year Released'].apply(lambda x: 'Yes' if current_year - x > 25 else 'No')

print(movie_df)

                 Title  Year Released              Genre Is Classic
0             Iron Man           2008  Superhero Fiction         No
1  The Incredible Hulk           2008  Superhero Fiction         No
2                 Thor           2010  Superhero Fiction         No
3      Captian America           2011  Superhero Fiction         No
4            Spiderman           2017  Superhero Fiction         No

In [4]:
movie_df = pd.DataFrame(movie_info)

# Sort the DataFrame by 'Year Released' in descending order
sorted_df = movie_df.sort_values(by='Year Released', ascending=False)

print(sorted_df)

                 Title  Year Released              Genre
4            Spiderman           2017  Superhero Fiction
3      Captian America           2011  Superhero Fiction
2                 Thor           2010  Superhero Fiction
0             Iron Man           2008  Superhero Fiction
1  The Incredible Hulk           2008  Superhero Fiction

3. Data Selection:
 • From the DataFrame created, select only the movies that are classified as 'Classic’.
 • Select and print only the 'Genre' and 'Year Released' columns for all movies.

In [5]:
movie_df = pd.DataFrame(movie_info)

# Add a new column to indicate if the movie is a 'Classic'
current_year = 2024
movie_df['Is Classic'] = movie_df['Year Released'].apply(lambda x: 'Yes' if current_year - x > 25 else 'No')

# Select only the 'Classic' movies
classic_movies = movie_df[movie_df['Is Classic'] == 'Yes']

print(classic_movies)

Empty DataFrame
Columns: [Title, Year Released, Genre, Is Classic]
Index: []

• Data Cleaning with Pandas: Handling Missing Data, Data Transformation
 1. Handling Missing Values:
 • Create a DataFrame with at least 5 rows and 3 columns, intentionally insert missing values 
into at least two different locations.
 • Write code to identify rows with missing values.
 • Replace all missing values with the mean of their respective columns.

In [6]:
import pandas as pd

# Create a sample DataFrame with 5 rows and 3 columns
data = {
    'Name': ['Chandler', 'Rachel', 'Monica', 'Joey', 'Ross'],
    'Age': [25, None, 35, 28, None],
    'City': ['New York', 'Los Angeles', None, 'Chicago', 'San Francisco']
}

df = pd.DataFrame(data)
print(df)

       Name   Age           City
0  Chandler  25.0       New York
1    Rachel   NaN    Los Angeles
2    Monica  35.0           None
3      Joey  28.0        Chicago
4      Ross   NaN  San Francisco

In [7]:
import pandas as pd

# Create a sample DataFrame with missing values
data = {
    'Name': ['Chandler', 'Rachel', 'Monica', 'Joey', 'Ross'],
    'Age': [25, None, 35, 28, None],
    'City': ['New York', 'Los Angeles', None, 'Chicago', 'San Francisco']
}

df = pd.DataFrame(data)

# Identify rows with missing values
rows_with_missing = df[df.isnull().any(axis=1)]

print("Rows with missing values:")
print(rows_with_missing)

Rows with missing values:
     Name   Age           City
1  Rachel   NaN    Los Angeles
2  Monica  35.0           None
4    Ross   NaN  San Francisco

In [8]:
import pandas as pd

# Create a sample DataFrame with missing values
data = {
    'Name': ['Chandler', 'Rachel', 'Monica', 'Joey', 'Ross'],
    'Age': [25, None, 35, 28, None],
    'City': ['New York', 'Los Angeles', None, 'Chicago', 'San Francisco']
}

df = pd.DataFrame(data)

# Replace missing values with the mean of the column
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['City'] = df['City'].fillna(df['City'].mode().iloc[0])

print(df)

       Name        Age           City
0  Chandler  25.000000       New York
1    Rachel  29.333333    Los Angeles
2    Monica  35.000000        Chicago
3      Joey  28.000000        Chicago
4      Ross  29.333333  San Francisco

Data Transformation Exercises:
 • Given a DataFrame with a column of employee names, transform all the names to 
uppercase.
 • Assume a DataFrame column 'Salary' is mistakenly entered as string data type with a dollar 
sign (e.g., "$40000"). Remove the dollar sign and convert this column to a numeric data 
type

In [9]:
import pandas as pd

# Create a sample DataFrame with employee names
data = {
    'Employee Name': ['Chandler', 'Rachel', 'Monica', 'Joey', 'Ross'],
}

df = pd.DataFrame(data)

# Transform the 'Employee Name' column to uppercase
df['Employee Name'] = df['Employee Name'].str.upper()

print(df)

  Employee Name
0      CHANDLER
1        RACHEL
2        MONICA
3          JOEY
4          ROSS

In [11]:
import pandas as pd

# Create a sample DataFrame with 'Salary' column as string
data = {
    'Name': ['Chandler', 'Rachel', 'Monica', 'Joey', 'Ross'],
    'Salary': ['$40000', '$50000', '$35000', '$60000', '$45000']
}

df = pd.DataFrame(data)

# Remove the dollar sign and convert 'Salary' to numeric
df['Salary'] = df['Salary'].str.replace('$', '').astype(float)
print(df)

       Name   Salary
0  Chandler  40000.0
1    Rachel  50000.0
2    Monica  35000.0
3      Joey  60000.0
4      Ross  45000.0

C:\Users\HP\AppData\Local\Temp\ipykernel_18440\2858168147.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Salary'] = df['Salary'].str.replace('$', '').astype(float)

. Advanced Selection and Filtering:
 • Using any sample DataFrame, write code to select rows based on multiple conditions. For 
example, find all rows where 'Year Released' is after 2000 but the genre is not 'Action’.
 • Use isin method to filter rows where the genre is either 'Comedy' or 'Horror’

In [12]:
import pandas as pd

# Create a sample DataFrame
movie_info = {
    'Title': ['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'Inception', 'Forrest Gump', 'Avengers: Endgame'],
    'Year Released': [1994, 1972, 2008, 2010, 1994, 2019],
    'Genre': ['Drama', 'Crime', 'Action', 'Sci-Fi', 'Drama', 'Action']
}
movie_df = pd.DataFrame(movie_info)

# Select rows where 'Year Released' is after 2000 and 'Genre' is not 'Action'
selected_rows = movie_df[(movie_df['Year Released'] > 2000) & (~movie_df['Genre'].isin(['Action']))]

print(selected_rows)

       Title  Year Released   Genre
3  Inception           2010  Sci-Fi

In [13]:
import pandas as pd

# Create a sample DataFrame
movie_info = {
    'Title': ['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'Inception', 'Forrest Gump', 'Avengers: Endgame', 'The Exorcist', 'Ghostbusters'],
    'Year Released': [1994, 1972, 2008, 2010, 1994, 2019, 1973, 1984],
    'Genre': ['Drama', 'Crime', 'Action', 'Sci-Fi', 'Drama', 'Action', 'Horror', 'Comedy']
}
movie_df = pd.DataFrame(movie_info)

# Filter rows where the 'Genre' is either 'Comedy' or 'Horror'
filtered_df = movie_df[movie_df['Genre'].isin(['Comedy', 'Horror'])]

print(filtered_df)

          Title  Year Released   Genre
6  The Exorcist           1973  Horror
7  Ghostbusters           1984  Comedy

Grouping and Aggregating Data:
 • Using a DataFrame that includes data for employees, including 'Department' and 'Salary', 
calculate the average salary per department.
 • Create a table using group by that shows the total number of movies per genre from a 
movies DataFrame.

In [16]:

import pandas as pd

# Sample data for employees
data = {
    'EmployeeID': [1, 2, 3, 4, 5],
    'Name': ['John', 'Alice', 'Bob', 'Emily', 'Charlie'],
    'Department': ['HR', 'Finance', 'HR', 'Finance', 'IT'],
    'Salary': [60000, 70000, 55000, 75000, 65000]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Calculate average salary per department
average_salary_per_department = df.groupby('Department')['Salary'].mean()

print("Average Salary per Department:")
print(average_salary_per_department)

Average Salary per Department:
Department
Finance    72500.0
HR         57500.0
IT         65000.0
Name: Salary, dtype: float64

In [17]:
import pandas as pd

# Assuming 'movies' DataFrame exists with a 'Genre' column
# Sample data for demonstration
data = {
    'MovieID': [1, 2, 3, 4, 5],
    'Title':  ['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'Inception', 'cid'],
    'Genre': ['Action', 'Comedy', 'Action', 'Drama', 'Comedy']
}

# Create DataFrame
movies = pd.DataFrame(data)

# Group by genre and count the number of movies per genre
movies_per_genre = movies.groupby('Genre').size().reset_index(name='Number of Movies')

print("Number of Movies per Genre:")
print(movies_per_genre)

Number of Movies per Genre:
    Genre  Number of Movies
0  Action                 2
1  Comedy                 2
2   Drama                 1